{% extends 'backend/base.html' %}

{% block title %}
    <title> Admin title  </title>
{% endblock %}

{% block body %}
    <h1>This is the test bodu</h1>
{% endblock %}

Base.html
|
|
|
^
Index.html (Cretae different blocks. These blocks gets substitued base.html ko block content)