{% extends 'backend/base.html' %}

{% block title %}
    <title> Test new page </title>
{% endblock %}

{% block body %}
    <h1>Call from New page</h1>
{% endblock %}

Base.html
|
|
|
^
Index.html (Cretae different blocks. These blocks gets substitued base.html ko block content)