{% extends 'backend/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
{% endblock %}
{% block body %}

<table id="user_table" class="table table-bordered">
    <thead>
    </thead>
    <tbody></tbody>
</table>

{% endblock %}

{% block js %}
<script>
    var userListUrl = "{% url 'list_users' %}";
    // var csrfToken = $('meta[name=csrf-token]').attr('content');
</script>
<!--    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>-->
<script src="{% static 'js/libs/DataTables/jquery.dataTables.min.js' %} "></script>
<script src="{% static 'js/libs/DataTables/jquery.dataTables.min.js' %} "></script>
<script src="{% static 'user_defined_js/dataTable/userDataTable.js' %}"></script>
{% endblock %}